{% extends 'base.html' %}

{% block title %} Ecomaritime | Railway {% endblock title %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('https://images.unsplash.com/photo-1465391416670-628978532ecd?q=80&w=1618&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/" class="make-white">Home <i
                                class="fa fa-chevron-right"></i></a></span> <span class="make-white">Railway <i
                            class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread make-white">Railway</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-portfolio">
    <div class="container">
        <div class="why-choose-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="img-wrap">
                            <img src="https://himexlogistics-1-p2237847.deta.app/static/images/dmitrii-vaccinium-Q47eNv_UvfM-unsplash.jpg"
                                alt="Railway Transport" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="section-title">Why Choose Our Railway Transport?</h2>
                        <p>At Ecomaritime Logistics, we offer railway transport solutions that are designed to meet the
                            unique
                            needs of our industrial clients. Our railway transport services are reliable, efficient and
                            safe. They are perfect for moving a variety of products, including oil, gas, and diesel.</p>
                        <p>With our railway transport, you can rest assured that your products are moved in a safe and
                            secure environment. Our dedicated team of professionals is always on hand to provide you
                            with the support and assistance you need to manage your transport effectively.</p>
                        <p>In addition to our top-notch transport solutions, we also offer comprehensive logistics
                            services to facilitate the smooth transportation of your products. From planning and
                            coordination to tracking and delivery, we handle every aspect of the logistics process. This
                            ensures that your products not only remain safe in transport but also reach their
                            destination in a timely and efficient manner.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="why-choose-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h2 class="section-title">Benefits of Our Railway Transport</h2>
                        <p>Our railway transport offers numerous benefits. They are designed to maximize transport
                            efficiency, ensuring that you can move as much product as possible in a limited time.
                            Additionally, our railway transport services are easy to manage, reducing the amount of time
                            and effort you need to invest in coordination.</p>
                        <p>Furthermore, our railway transport services are designed to protect your products from
                            environmental factors, ensuring that they remain in optimal condition for as long as
                            possible. With our railway transport, you can maximize your productivity and profitability.
                        </p>
                        <p>Lastly, our railway transport services offers the highest quality standards, this guarantees
                            safety and reliability, providing you with a reliable transport solution that stands the
                            test of time. </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="img-wrap">
                            <img src="https://himexlogistics-1-p2237847.deta.app/static/images/aleksandr-popov-I0_UBfHbnkI-unsplash.jpg"
                                alt="Benefits of Railway Transport" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

{% endblock %}