{% extends 'base.html' %}

{% block title %} Ecomaritime | Storage {% endblock title %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('https://images.unsplash.com/photo-1588011930968-eadac80e6a5a?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="/" class="make-white">Home <i
                class="fa fa-chevron-right"></i></a></span> <span class="make-white">Storage <i class="fa fa-chevron-right"></i></span>
        </p>
        <h1 class="mb-3 bread make-white">Storage</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-portfolio">
  <div class="container">
    <div class="why-choose-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="img-wrap">
              <img
                src="https://res.cloudinary.com/noiro/image/upload/v1705495944/Himex/mina-fc-cGDP204j22E-unsplash_axp5rp.jpg"
                alt="Farm Tank Storage" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6">
            <h2 class="section-title">Why Choose Our Storages?</h2>
            <p>At Ecomaritime Logistics, we offer storage solutions that are designed to meet the unique needs of our
              industrial clients. Our storage tanks are built with high-quality materials to ensure durability and
              longevity. They are perfect for storing a variety of products, including petroleum, gas, and chemicals.
            </p>
            <p>With our storage tanks, you can rest assured that your products are stored in a safe and secure
              environment. Our dedicated team of professionals is always on hand to provide you with the support and
              assistance you need to manage your storage effectively.</p>
            <p>In addition to our top-notch storage solutions, we also offer comprehensive logistics services to
              facilitate the smooth transportation of your products. From planning and coordination to tracking and
              delivery, we handle every aspect of the logistics process. This ensures that your products not only remain
              safe in storage but also reach their destination in a timely and efficient manner.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="why-choose-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h2 class="section-title">Benefits of Our Tank Storages</h2>
            <p>Our storage tanks offer numerous benefits. They are designed to maximize storage efficiency, ensuring
              that you can store as much product as possible in a limited space. Additionally, our storage tanks are
              easy to clean and maintain, reducing the amount of time and effort you need to invest in upkeep.</p>
            <p>Furthermore, our storage tanks are designed to protect your products from environmental factors, ensuring
              that they remain in optimal condition for as long as possible. With our storage tanks, you can maximize
              your productivity and profitability.</p>
            <p>Lastly, our tank storages are built with the highest quality materials and advanced technology. This
              guarantees durability and longevity, providing you with a reliable storage solution that stands the test
              of time. </p>
          </div>
          <div class="col-lg-6">
            <div class="img-wrap">
              <img
                src="https://res.cloudinary.com/noiro/image/upload/v1705495937/Himex/craig-stanley-kuGrEsF9ilU-unsplash_ljw6w8.jpg"
                alt="Benefits of Farm Tank Storage" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>

{% endblock %}